{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Mon compte</h1>
        <h3>Modification du mot de passe</h3>

        {{ form(modifyPassword) }}
    </div>
{% endblock %}