{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Mon compte</h1>

        <div class="row">
            <div class="col-md-3">
                {%  include 'account/menu.html.twig' %}
            </div>
            <div class="col-md-9">
                <h5>Modification du mot de passe</h5>
                {{ form(modifyPassword) }}
            </div>
        </div>
    </div>
{% endblock %}