{% extends 'base.html.twig' %}

{% block body %}
    <div class="container my-5">
        <h1>Mon compte</h1>

        <p>Bienvenue sur votre compte !</p>

        <a href="{{ path('app_logout') }}" class="btn btn-danger">Déconnexion</a>
    </div>
{% endblock %}
